@charset "UTF-8";

@font-face {
  font-family: "JXK";
  src: url("JXK.woff2") format("woff2"),
       url("JXK.woff") format("woff"),
       url("JXK.ttf") format("truetype"),
       url("JXK.eot") format("embedded-opentype"),
       url("JXK.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

body{
	font-family: 'JXK';
}