body
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    text-align: center;
    text-stroke: 1px rgba(255,255,255,0.1);
    color: #555;
a
    color: #00B7FF
h1,h2
	margin 0
	font-size 22px
	color #343434
#employees
	text-align left
	margin 0 auto
	width 320px
	.employee
		margin 20px
		.created_at
			display none
		.title
			font-weight bold
			background-color #eee
		.name
			background-color #ffa
.newemployee
	border 3px dotted #000
	width 450px
	margin 0 auto
	padding 14px
a 
	display inline-block
	margin-top 20px
.col
	clear both
	margin-bottom 10px
input[type =text],
input[type =file]
	width 200px
	margin 0 0 15px 15px
input[type =button],
input[type=submit]
	clear both
	text-align left
	margin-left 165px
	display inline-block
.label
	width 150px
	text-align right !important
	display inline-block
button:hover
	cursor pointer
.result
	img
		display block
		width 100px
		margin 0 auto







