extends layout

block content
	h1= title
	div.new-employee
		form( method="post")
			div.form-box
				div.col
					span.label Title :
					input(type="text", name="title", id="editEmployeeTitle")
				div.col
					span.label Name :
					input(type="text", name="name", id="editEmployeeName")
				div.col
					span.label 图片：
					input(type="file", id="uploadFile", name="uploadFile", value="")
				div.result
					input(type="hidden", id="upFile", name="upFile" value="")
				div#editEmployeeSubmit
					input(type="submit", value="Save")
					
	a(href="/")!= "Back to Employee List"
	script(type="text/javascript", src="http://apps.bdimg.com/libs/zepto/1.1.4/zepto.min.js")
	script(type="text/javascript", src="/javascripts/index.js")



